@import "fonts";
$main-color: green;

body{
    color: $main-color;
    background: url("@img/feature2-img1.png");
}

@media (max-width: 768px){
    h1{
        font-family: Montserrat;
        color: red;
    }
}

@media (max-width: 768px){
    body{
        background-color: brown;
    }
}